* {
    margin: 0 auto;
}
body {
    background-color: #ffce91;
    margin-left: 3em;
    max-width: 100%;
    overflow-x: hidden;
}
html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.content{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
   
}

h1,h2 {
    color: #fff;
    text-align: center;
    margin: 5px;
    
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 200px;
    height: auto;
    border: 10px solid #ffce91;
}

.coloneOne p {
    font-size: 1.5em;
    color:#da7903;
    text-align: center;
    margin: 10px;
    
}
.coloneTwo p {
    font-size: 1.5em;
    color:#fff;
    text-align: center;
    margin: 10px;

}

.coloneOne {
    flex-basis: 30%;
    /* width: 35%; */
    background-color:#fff;
    min-height: 10em; 
    text-decoration-color:#da7903;
    border:2px solid #fff;
    flex: 3;
}
.coloneTwo {
    flex-basis: 60%;
    /* width: 60%; */
    background-color:#ffce91;
    min-height: 10em;
    text-decoration-color:#fff;
    border:2px solid #fff;
    flex: 6;
}

.leftSize {
    /* background-color: #ffce91; */
    background-image: url(./left.jpg);
    /* background-size:483px 110px; */

    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    min-width: 250px;
  
}

.rightSize {
    margin: 0px;
    background-color: #fff;
    background-image: url(./right.jpg);
    /* background-size:170px 110px; */
    background-position:right ;
    background-repeat: no-repeat;
    min-width: 300px;
    
}

.rightSize h2{
    color: #da7903;
}
@media only screen and (max-width: 800px) {  
    .coloneOne, .coloneTwo {
        flex-basis: 100%;
    } 
    body {
        margin-left: 0;
    }

}
